SECRET_KEY=django-insecure-change-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=rentslab
POSTGRES_USER=rentslab
POSTGRES_PASSWORD=rentslab
POSTGRES_PORT=5422

DB_ENGINE=django.db.backends.postgresql
DB_NAME=rentslab
DB_USER=rentslab
DB_PASSWORD=rentslab
DB_HOST=db
DB_PORT=5422

CORS_ALLOW_ALL_ORIGINS=0
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

DEFAULT_FROM_EMAIL=noreply@rentslab.com
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=0
EMAIL_USE_SSL=0
SITE_NAME=RentSlab
SUPPORT_EMAIL=support@rentslab.com
FRONTEND_URL=http://localhost:3003
DEFAULT_NEW_ORG_TYPE=property_manager
DJANGO_SERVER_PORT=8000
